// @import 'https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap';
@font-face {
  src: url('../../fonts/Inter/InterVariable.woff2') format('woff2');
  font-family: inter;
  font-display: swap;
}
